/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .heading1{
      background: #F4F4F4;
      min-height: 1250px;
   }
    .heading1 h5 a{
      font-size: 25px;
      font-weight: bolder;
      text-decoration: none;
   }
    .heading1 h5 :hover{
      text-decoration: underline;
   }
    .custom-list-style a{
      background-color: #FFFFCC;
      padding: 2px 3px;
      width: 0px!important;
      
    }
    .input-style{
      width: 74%;
    padding: 4px 42px;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    font-size: 14px;
}
.heading1 ul li{
  list-style: none;
}
.heading1 ul li a{
  text-decoration: none;
}
.heading1 ul li :hover{
  text-decoration: underline;
}
.custom-calender h5 a{
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}
 
   .heading2{
     
      background: #EEEEEE;
   }
   .heading2 h5{
    color: #545454;
    font-size: 22px;
   }
    .heading2 a{
      text-decoration: none;
   }
   .heading2 h5:hover{
    text-decoration: underline;
   }
   .heading-child{
      background: #EEEEEE;
      padding: 1px 1px;
      padding-top: 2px !important;
     border: 2px solid #EEEEEE;
     


   }
   .heading-child h5{
      font-size: 19px !important;
    
      
      
   }
   .heading-child a{
      text-decoration: none;
   }
   /* .heading-child h5:hover{
      background: #fff; 
   } */
   .heading-child:hover{
    background: #fff;
    border: 2px solid #ccc;
   }
   .list-style {
          padding: 5px !important;
         font-size: 12px !important;
         display: inline-block !important;
         width: 100%;
}
  .list-style3 {
         padding: 5px !important;
         font-size: 11px !important;
         display: inline-block !important;
         width: 100%;
}
.heading3{
     
      background: #F4F4F4;
      min-height: 1250px;
   }
   .heading3 ul li{
    list-style: none;
   }
   .heading3 ul li a{
      text-decoration: none;
      /* color: #000; */
   }
    .heading-child3{
      background: #EEEEEE;
      padding: 1px 1px;
      padding-top: 2px !important;
   }
    .input-style3{
      width: 50%;
    /* padding: 1px 30px; */
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    font-size: 12px;
}
.custom-list-style4 a{
    background: #fff;
    padding: 2px 37px;
    border: 1px solid #EEEEEE;
    
}
.custom-list-style5{
  line-height: 16px;
}
.custom-list-style5 a{
     font-size: 12px;

}
.custom-list-style5 :hover{
  text-decoration: underline;
}
.custom-style6{
  background: #F4F4F4;
}
.list-syle-hover ul li:hover{
  background:#FFFFFF ;
}
.first-list-style ul li a{

  color: #0A58CA;
  font-size: 16px;
  margin-left: 0px !important;
}
.list-group{
  list-style: none;
}
.first-list-style ul li  :hover{
  background: #F4F4F4;
}
.calender-style{
  margin-left: 7%;
}
.table-condensed{
  width: 250px;
}
thead{
  background: #FFFFCC;
}

.list-style1 ul li a{
  font-size: 12px;
 /* color: #000; */
}
.footer-style{
  background: #F4F4F4;
  text-align: center;
  width: 100%;
}
.footer-style ul li{
  list-style: none;
  display: inline-block !important;
    
}
/* .list-group{
  display: block;
} */
.footer-style ul li a{
  text-decoration: none;
  /* color: #000; */
}
/*
 * Mobile view css
 */
.heading-style1 ul li a{
  background: #EEEEEE;
  font-size: 20px;
  color: #0A58CA;
}
.heading-style2 ul li a{
  text-align: right;
  background: #EEEEEE;
  font-size: 20px;
  color: #0A58CA;
}
.custom-collapes ul li a{
  background: #EEEEEE;
  font-size: 20px;
  color: #0A58CA;
}

.list-style-colla{
    padding: 5px !important;
    font-size: 12px !important;
    display: inline-block !important;
    width: 100%;
    background: #fff;
}
.first-list-style-colla ul li a{
  background: #fff;
  color: #0A58CA;
  font-size: 16px;
  margin-left: 0px !important;
}
.list-group{
  list-style: none;
}
.first-list-style-colla ul li  :hover{
  background: #F4F4F4;
}
.custom-button{
  text-decoration: none;
  text-align: left;
  font-size: 19px;
}
.custom-heading{
  background:#EEEEEE ;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* custom css are here */
















/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

